        /*HEADER*/
.textoTitulo {
	font-family:"DIN";
}

        /*TEXTO LABEL*/
.textoBold {
	font-weight:bold;
  /*font-size:17px;*/
  color:#454545;
}

        /*HORA INICIO Y HORA FIN  espacioright reemplaza a textoBold*/
.paddingcheck {
  --padding-start:0;
}   
.espacioright {
  padding-left:20px;
  font-weight:bold;
  color:#454545;
}


.centrarBoton {
	text-align:center;
}

        /*PADDING LINEA CHECKBOX*/
.paddingcheck {
  --padding-start:0;
}        

        /*PADDING TITULO CHECKBOX*/
.paddinglabel {
  padding-left:1rem;
  font-weight:bold;
  color:#454545;
  font-size:12px;
}        

        /*PADDING SELECCION IMG*/
.posicion {
  padding-left:1rem;
}

.itemImagen {
  --inner-border-width:0;
}

         /*BOTON*/
.itemBoton {
  --inner-border-width:0;
}

.fileUpload {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.tipoBoton {
  font-size: 14px;
  font-weight:bold;
  box-shadow: 2px 10px 22px -8px rgba(0,0,0,0.75);
}

        /*SOMBRA FAB*/
.ion-fab-button{
    box-shadow: 2px 10px 22px -8px rgba(0,0,0,0.75); 
    
}
