.textoTitulo {
	font-family:"DIN";
}

.centrarBoton {
	text-align:center;
}

         /*TEXTO LABEL*/
.textoBold {
	font-weight:bold;
    /*font-size:17px;*/
} 

         /*TEXTO INPUT*/
.fuente {
     /*font-size:19px;*/
}

.sombra {
    box-shadow: 2px 10px 22px -8px rgba(0,0,0,0.75);
}

