.bkagenda {
	margin:0;
	padding:0;
}

.areaAnio {
	color:#454545;
	font-weight:bold;
	margin:0;
	font-size:14px;
	text-align:right;
}

.areaMes {
	margin:0;
}

.label {
	margin:0;
}
h2{
	color:#fff;
	background-color:#0476af;
	padding:20px;
}

.centrarResultado {
    text-align:center;
    margin-top:50px;
}


.listado {
	margin:0;
	padding:0;
}

.label {
	margin:0;
}

.itemBoton {
  --padding-start:0;
}


.textoBold {
  font-weight:bold;
  /*font-size:17px;*/
  color:#0476af;
}






