

          <ion-item>
            <ion-label position="stacked" class="textoBold" color="success">Tipo</ion-label>
            <ionic-selectable class="fuente"
              item-content
              [(ngModel)]="trabajoAdmin"
              name="trabajoAdminTipo"
              itemValueField="codigo"
              itemTextField="descripcion"
              [items]="tiposTrabajos"
              [canSearch]="true"
              searchPlaceholder="buscar tipo trabajo"
              [searchFailText]="'No hay resultados.'"
              required>
              <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
              </ng-template>
            </ionic-selectable>
          </ion-item> 
        
          
          <ion-item class="listado">
            <ion-label position="stacked" class="textoBold" color="success">Fecha Desde</ion-label>
            <ion-input [(ngModel)]="inicio"
                    [liIonic4Datepicker]="datePickerObj"
                    name="fechaInicio" 
                    #fechaInicio="ngModel"
                    (ionChange)="validarFechas()"
              > 
            </ion-input>
         </ion-item>

         <ion-item class="listado">
             <ion-label position="stacked" class="textoBold" color="success">Fecha Hasta</ion-label>
             <ion-input [(ngModel)]="fin" 
                        [liIonic4Datepicker]="datePickerObj"
                        name="fechaFin" 
                        #fechaFin="ngModel" 
                        (ionChange)="validarFechas()"
             > 
             </ion-input>
         </ion-item>

         
         <div *ngIf="fechasNoValidas"  style="color:red;">
          La fecha fin no debe de ser menor que la fecha de inicio
        </div>
        
           <div class="form-group">
            <ion-button (click)="filtrar()">Buscar</ion-button>
           </div> 
           <div class="form-group">
            <ion-button (click)="crearPDF()" class="btnBuscar">Crear PDF</ion-button>
           </div>
           <hr>
           <div  *ngIf="trabajosAdmin.length==0" class="centrarResultado">
            <ion-label class="textoBold" color="success"> No hay resultados</ion-label>
           </div>
      
            <ion-list margin-top class="listado">
                <ion-item-sliding *ngFor="let item of trabajosAdmin">
                    <ion-item class="itemBoton" lines="inset"  [routerLink]="['/members/menu/actividadesDetalles/trabajoAdminDetalles', item.id]">
                      <ion-label class="label">
                        <ion-grid>
                         <ion-row>
                          <ion-col size="3">
                           <p class="textoDetalle">Tipo:</p>
                           <p class="textoDetalle">Inicio:</p>
                           <p class="textoDetalle">Fin:</p>
                          </ion-col>
                          <ion-col size="9"> 
                           <p>{{ item.tipoTrabajoAdmin.descripcion }} </p>
                           <p>{{ stringAsDate(item.inicio) | date:'fullDate' }} {{ hora(item.inicio)}}</p>
                           <p>{{ stringAsDate(item.fin) | date:'fullDate' }} {{ hora(item.fin)}}</p>
                          </ion-col>
                        </ion-row>
                       </ion-grid>
                      </ion-label>
                    </ion-item>
                </ion-item-sliding>
            </ion-list>


            <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users..." distance="2%" threshold="10px">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
      
